.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background-image: url("/assets/images/background_git_v7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2%;
}
