h1 {
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  font-size: 50px;
  color: #ec4899;
  text-shadow: 1, 1, white;
}
.card-container {
  margin-top: 30px;
  display: flex;
  background-color: aliceblue;
  width: 400px;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
