h1 {
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 2px 1px #000097;
}
.form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form input {
  width: 25%;
  border-radius: 6px 0 0 6px;
  padding: 6px 14px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #000097;
}
.form input::placeholder {
  color: #c0c0c0;
  font-size: 18px;
}
.btn-buscar {
  padding: 4px 10px;
  color: #fff;
  font-size: 18px;
  border-radius: 0 6px 6px 0;
  border: 2px solid #00a6aa;
  background-color: #00ced1;
}
.card {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: #ec4899; */

  /* background: rgba(236, 72, 153, 0.5);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  border: 1px solid rgba(236, 72, 153, 0.25); */

  background: rgba(216, 98, 234, 1);
  -webkit-backdrop-filter: blur(43px);
  backdrop-filter: blur(43px);
  border: 3px solid rgba(216, 98, 234, 0.5);
}
.card-header img {
  height: 220px;
  width: 240px;
}
.card-container {
  margin-top: 10px;
  display: flex;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.card-body h2 {
  font-weight: 600;
  color: #000097;
}
.card-body h4 {
  font-weight: 300;
  color: #000097;
}
.card-footer {
  width: 100%;
  margin-bottom: 10px;
  color: #000097;
}

.card-footer-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.btn-perfil {
  padding: 6px;
  background-color: #00ced1;
  border: 1px solid #000097;
  border-radius: 10px;
}
.btn-perfil a {
  text-decoration: none;
  color: #000097;
  font-size: 18px;
}
.card-footer-itens h5 {
  font-weight: 300;
}
.card-footer-itens-item {
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
  padding: 0 10px;
}
